<a name="top"></a>
<!-- Back to top reference -->
<main>
    <div class="box">
        <div class="box-contents">
            <div class="post-container" style="background-color:transparent;">
                <div class="content">
                    <div class="error">
                        <div class="error-title">
                            <img src="{{warning_logo}}" class="img-align" style="width: 50%;" alt="" />
                            <br>
                            ERROR
                        </div>
                        <br><br>
                        {{error}}
                        <br><br>
                    </div>
                </div>
            </div>
        </div>


