
<div class="footer">
    <div class="align-left" style="padding-left: 4px; background-color: #000;">
        <a href="{{about_link}}">By AlexHG</a>
    </div>
    <div class="align-right">
        <a href="{{gitlab_link}}" style="background-color: #000;" title="gitlab">&#x25F1; git</a>
        <a href="{{license_link}}" style="background-color: #000;" title="MIT">&#x25F0; license</a>
        <a href="#"  style="background-color: #000;" title="Back to top">▲</a>
    </div>
</div>
</div> <!-- BOX -->

</main>
    </body>
</html>
