<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{favicon}}">
        <link rel="stylesheet" href="{{normalize}}">
        <link rel="stylesheet" href="{{css}}">
        <link rel="stylesheet" href="{{scanlines}}">
        <title>{{title}}</title>

    </head>

    <body>

