<a name="top"></a>
<!-- Back to top reference -->
<main>
    <div class="top-navbar">
		<a href="{{home_link}}" class="top-navbar-header">POCKET_PHP</a>
        <ul>
            <li><a href="{{user_guide_link}}">USER GUIDE</a></li>
            <li><a href="{{about_link}}">ABOUT</a></li>
            <li><a href="{{login_link}}">LOGIN</a> / <a href="{{logout_link}}">LOGOUT</a></li>
        </ul>
	</div>
