<a name="top"></a>
<!-- Back to top reference -->
<main>
    <div class="box">
        <div class="box-header">

        </div>
        <div class="box-contents">

            <div class="resume">
                <p>
                    Login Successful!
                    <br><br>
                    <div class="red">
                        To access this page you must successfully login first. Locking content behind an active account
                        requires the controller to simply check for the "sessionStatus" variable.
                    </div><br>

                    <div class="black-block">
                        Check index.php to learn more about the login process.
                    </div><br><br>
                </p>

            </div>
        </div>
    </div>

